<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>User Info</title>
      <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
   </head>
   <body>
      <!-- Include _menu.html -->
      <th:block th:include="/_menu"></th:block>
       
      <h3>Welcome : <span th:utext="${#request.userPrincipal.name}"></span></h3> 
       
      <br/><br/>
      
      <h2><span th:utext="${message}"></span></h2>
       
      <div th:if="${userInfo != null}" th:utext="${userInfo}"></div>
      
      <br/><br/>
      <h3>Enter Guest Details</h3>
      
      <a th:href="@{/guestRegistration}">Register</a>
       
   </body>
    
</html>